body{
    background-color: rgb(144, 147, 148);
}
header{
    background-color: rgb(50, 119, 175);
    margin: -2%;
}
#tit{
color: white;
font-size: 5em;
font-weight: 700;
text-align: center;
}
#ulno{
    text-align: center;
    list-style: none;
}
#ulno li{
display:inline;
margin: 2em;
}

.papu {
    text-decoration: none;
    color: rgb(241, 154, 22);
    padding: 5px;
    border-radius: 5px;
    font-size: 2em;
    display: inline-block;
}

picture {
display: flex;
justify-content: center;

}

#imgi{
width: 20%;

}

.pelo{
width: 20%;

}